# Creating Demand Data

In [2]:
import pandas as pd
import numpy as np

In [3]:
DemandData = pd.read_csv("demand_for_expansion.csv")
DemandData["Year"] = 1
DemandData.head()

   Hour  Demand  Year
0     1    2274     1
1     2    2581     1
2     3    2576     1
3     4    2482     1
4     5    2396     1

In [4]:
print("Yearly Demand: " , str(DemandData["Demand"].sum()), "MWh")

Yearly Demand:  22567897 MWh

To simulate demand data to 2050 we will use the assumption that since demand is expected to double from ~22500000 to ~45000000 MWh we can calculate the annual growth rate over 25 years to be about 2.81%

In [5]:
years = 25
growth = 2**(1/years)
growth

DemandDataExpanded = []

for y in range(0,years+1):
    scale = growth**(y)
    df_tmp = DemandData.copy()
    df_tmp["Demand"] = df_tmp["Demand"] * scale
    df_tmp["Year"] = y
    DemandDataExpanded.append(df_tmp)

DemandDataExpanded = pd.concat(DemandDataExpanded, ignore_index=True)
DemandDataExpanded.to_csv("demand_25yrs_forecast.csv", index=False)

In [6]:
DemandDataExpanded

        Hour  Demand  Year
0          1  2274.0     0
1          2  2581.0     0
2          3  2576.0     0
3          4  2482.0     0
4          5  2396.0     0
...      ...     ...   ...
227755  8756  5416.0    25
227756  8757  5292.0    25
227757  8758  5076.0    25
227758  8759  4390.0    25
227759  8760  4400.0    25

[227760 rows x 3 columns]

# Creating CF data

In [7]:
CFData = pd.read_csv("wind_solar_for_expansion.csv")
CFData['Coal'] = 1
CFData['Gas'] = 1
CFData['Biomass'] = 1
CFData

      Hour      Wind     Solar  Coal  Gas  Biomass
0        1  0.029644  0.440206     1    1        1
1        2  0.053405  0.000000     1    1        1
2        3  0.045622  0.000000     1    1        1
3        4  0.090802  0.000000     1    1        1
4        5  0.177524  0.000000     1    1        1
...    ...       ...       ...   ...  ...      ...
8755  8756  0.037738  0.943190     1    1        1
8756  8757  0.055223  0.962000     1    1        1
8757  8758  0.008199  0.948126     1    1        1
8758  8759  0.000662  0.852887     1    1        1
8759  8760  0.002552  0.687016     1    1        1

[8760 rows x 6 columns]

In [27]:
CFData.to_csv("CFData_Expanded.csv", index=False)